<link rel="stylesheet" href="css/style.css">

<div class="right">
    <h3><strong> Your Order </strong></h3>


    <div id="checkoutModal" class="modal">
        <div class="modal-content">
            <!-- Your checkout form content goes here -->
            <span class="close">&times;</span>
            <h2 class="checkout-header">Your Order</h2>
            <ul id="orderList">
                <!-- Add list items for each ordered item -->
            </ul>
            <p>Total: <span id="totalPrice">$0.00</span></p>
        </div>
    </div>
    
    
    
</div>