<footer>
<div class="foot">

    <div class="footer-section">
        <h4>Contact Us</h4>
        <p>Email: FeastFrolic@mail.com</p>
        <p>Phone: +123-456-7890</p>
    </div>
    <div class="footer-section">
        <h4>Locate Us</h4>
        <p>New avenue road, LN 26 peacock-street</p>
       
    </div>
    
    <div class="footer-section">
        <h4>Follow Us</h4>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            
        </div>
    </div>
</div>
   
                <p>© 2022 - <a href="#" target="_blank"> Feast & Frolic</a></p>
       
   
</footer>