<link rel="stylesheet" href="css/style.css">

<div class="menuBar">
    <h1>Welcome to Feast & Frolic</h1><i class="bi bi-list"></i>
    <h3> <strong>Delight in Our Exquisite Selection of Meals</strong></h3>
</div>