<div class="sidebar-panel">
    <div class="top">
        <span class="material-icons-outline">menu</span>
    </div>
   <div>
     PageName 
   </div>
   <ul>
    <li class="active" > home </li>
    <li> employees </li>
    <li> logout </li>
   </ul>
</div>

<script>


</script>