<link rel="stylesheet" href="css/style.css">

<div class="sidebar">
    <ul>
        <li class="active">
            <%= PageName %>
        </li>
        <li>Menu </li>
        <li class="Order"> Order</li>
        <li> Settings </li>
        <li> Logout </li>
    </ul>
</div>

<script>


</script>