   body{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .login{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 360px;
        margin: 50px auto;
        font-size: 15px;
    }
    .login h1{
        background-color: gold;
        padding: 20px 0;
        font-size: 140%;
        text-align: center;
        margin-bottom: 1rem;
        border-radius:  0.9rem 0 0.9rem 0;
    }

    .login input{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 15px;
        border: none;
        border-bottom: 1px solid #ccc;
        margin-bottom: 15px;
        box-sizing: border-box;
        background-color: rgb(165, 163, 163);
    }
    .login ::placeholder{
        color: gold;
    }
    .login input:hover{
        border: none;
        border-bottom: 3px solid gold;
    }
    
 .submit{
    padding: 0.7rem 1rem;
    width: 100%;
    background-color: gold;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 16px;
    margin: 0 auto;
    font-weight: bold;

}
.submit:hover{
    color: gold;
    background-color:rgb(165, 163, 163) ;
}