*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-y: hidden;
}

.container{
   display: grid;
   grid-template-columns: 1fr 3fr ;
}


.sidebar{
    width:100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    background-color: gold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    scale: 0.8rem;
    padding: 1.2rem 2rem;
    cursor: pointer;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0.8rem 1.5rem;
    margin: 0 auto;
    background-color: gray;
    font-size: 1.4rem;
    cursor: pointer;
}
.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

/* media query mobile view */
@media screen and (max-width: 768px){
    .wrapper{
        grid-template-columns: 1fr;
    }
    .wrapper header{
    display: none;
    }
    .wrapper .sidebar-panel{
        display: none;
    }
    .wrapper .cards{
        grid-template-columns: 1fr;
    }

}
