<link rel="stylesheet" href="css/home.css">


<main class="container">
   

    <div class="sidebar-con">
        <%- include('../layouts/sidebar', {PageName: 'Home'}) %>
    </div>

    <div class="content-body">
        <header class="menu">
            <%- include('../layouts/header') %>
        </header> 
    
        <div class="content">
    

            
    
        </div>

    </div>

    <div class="right-con">
        <%- include('../layouts/right', {PageName: 'Home'}) %>
    </div>
   

</main>




<footer>
    <%- include('../layouts/footer', {PageName: 'Home' }) %>

</footer>

<script src="js/home.js"></script>

