<link rel="stylesheet" href="css/home.css">


<div class="navbar-con">
    <%- include('../layouts/navbar', {PageName: 'Home'}) %>
</div>

<main class="container">
   
    <div class="content-body">
        <header class="menu">
            <%- include('../layouts/header') %>
        </header> 


    <div class="container-content">

        <div class="content">
    <!-- meals go here -->
    
        </div>
    </div>

    
</div>

<div class="checkout">
    <%- include('../layouts/checkout', {PageName: 'Home'}) %>
</div>
   

</main>




<footer>
    <%- include('../layouts/footer', {PageName: 'Home' }) %>

</footer>

<script src="js/home.js"></script>

