<!-- login style -->
<link rel="stylesheet" href="css/login.css">

<!-- login html  -->
<div class="login"> 
    <h1>Welcome</h1>
    <form >
        <input type="text" id = "username-input" name="username" placeholder="Username" required="required" autocomplete="off"/>
        <input type="password" name="password" placeholder="Password" required="required" autocomplete="off" />
        <button type="button" class="submit btn btn-primary btn-block btn-large">Enter</button>
    </form>
</div>
<!-- <img src="assets/img/brush.png" alt="" srcset=""> -->
<script src="js/login.js"></script>