<!-- login style -->
<link rel="stylesheet" href="css/login.css">

<!-- login html  -->
<div class="login"> 
    <h1>Welcome</h1>
    <form >
        <input type="text" id = "username-input" name="username" placeholder="Username" required="required" autocomplete="off"/>
        <input type="email" id="email-input" name="email" placeholder="Enter your email" required="required" autocomplete="off" />
        <button type="button" class="submit btn btn-primary btn-block btn-large">Enter</button>
    </form>
    <div id="error-message" style="color: red; display: none;">
        Please fill in all fields.
      </div>
</div>
<!-- <img src="assets/img/brush.png" alt="" srcset=""> -->
<script src="js/login.js"></script>